*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: black;
    color: white;
    cursor:none; 
}
.board{
    position: absolute;
    height: 80vh;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    overflow: hidden;
}
.next{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 1%;
    right: 2%;
    font-size: 1.2rem;
}
.next p{
    width: 50px;
    height: 25px;
    border: 1px solid white;

}
.score{
    position: absolute;
    top: 1%;
    left: 2%;
    display: flex;
    justify-content: space-between;
    width: 120px;
    font-size: 1.2rem;
}
.pallete{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 20px;
    background: white;
}
.square{
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    z-index: -1;
}

